*{
    padding: 0px;
    margin: 0px;
}
.outer{
    width: 700px;
    height: 800px;
}
.outer h1 {
    text-align: center;
}
p{
    font-size: 20px;
}
.border{
    width: 100%;
    padding: 5px;
    background-color: rgb(red, green, blue);
    border: 1px solid blanchedalmond;
    font-weight: bold;
}
ul{
    font-size: 20px;
    margin-left: 50px;
}
h2{
    float: right;
}